<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header-css">
</head>
<body>
<th:block th:insert="layout::block-nav">
</th:block>
<div class="container">
    <h1>Danh sách Tag</h1>
    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-primary" onclick="tags.addNew()">
                Thêm mới
            </button>
        </div>
    </div>

    <!-- Button to Open the Modal -->


    <!-- The Modal -->
    <div class="modal" id="modalAddEdit" name="modalAddEdit">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle"></h4>
                    <button type="button" class="close" onclick="tags.resetForm()" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="formAddEdit" th:name="formAddEdit">
                        <input hidden name="tag_id" id="tag_id">
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Tên</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="text"
                                       name="name" id="name"
                                       data-rule-required=true>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <a href="javascript:" class="btn btn-primary"
                       onclick="tags.save()">Lưu</a>

                    <button type="button" class="btn btn-danger" onclick="tags.resetForm()" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <th:block th:insert="layout::block-dataTable">

    </th:block>
</div>
<th:block th:insert="layout::block-script" >
</th:block>
<script src="admin-assert/js/tagmain.js"></script>
</body>

</html>